@model IEnumerable<DTOs.AreaComunal.AreaComunalDTOCompleto>;
@using Utilitarios;
@{
    Layout = "";
}
<style>
    .div-interno {
        width: 100px;
        height: 100px;
       
    }
</style>
<div class="card card-flush">
    <div class="card card-body">
        @await Html.PartialAsync("_MensajesBusqueda", Model.Count())

        @if (Model.Count() > 0)
        {
            <table border="1" id="idTablaAreaComunal" class="table align-middle table-row-dashed fs-6 gy-5">
                <thead>
                    <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                        <th>
                            <span class="badge badge-light text-dark">Nombre</span>
                        </th>
                        <th>
                            <span class="badge badge-light text-dark">Hora Inicio</span>
                        </th>
                        <th>
                            <span class="badge badge-light text-dark">Hora Fin</span>
                        </th>
                        <th>
                            <span class="badge badge-light text-dark">Acción</span>
                        </th>

                    </tr>
                </thead>
                <tbody class="fw-bold text-gray-600">
                    @if (Model != null)
                    {
                        foreach (var areaComunal in Model)
                        {
                            <tr>
                                <td data-title="Nombre">
                                    <div style="display: flex;">
                                        <div onclick="mostrarModalEditarAreaComunal('ModalGestionarAreaComunal', '@areaComunal.IdAreaComunal', 'Editar', '/C_Conjuntos/RecuperarListaAreaComunalPorConjuntoID?idConjunto=@areaComunal.IdConjunto')" class="badge badge-light-primary hover div-interno" style="cursor:pointer">
                                            <span>@areaComunal.NombreArea</span>
                                        </div>
                                        <div onclick="mostrarModalEditarAreaComunal('ModalGestionarAreaComunal', '@areaComunal.IdAreaComunal', 'eliminar', '/C_Conjuntos/RecuperarListaAreaComunalPorConjuntoID?idConjunto=@areaComunal.IdConjunto')" class="div-interno">
                                            <i class="fas fa-window-close" style="color:red; cursor:pointer"></i>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    @areaComunal.HoraInicio
                                </td>
                                <td>
                                    @areaComunal.HoraFin
                                </td>
                                <td>
                                    <a href="~/C_AreaComunal/DetalleAreaComunal?idAreaComunal=@areaComunal.IdAreaComunal" target="_self" class="badge badge-light-primary">Detalle<i class="far fa-edit" style="color: #009ef7"></i></a>

                                </td>

                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>
</div>