@model List<DTOs.Adeudo.AdeudoDTOCompleto>

@{
    DTOs.Adeudo.AdeudoDTOCompleto objAdeudo = Model.FirstOrDefault();
    int contadorAdeudo = 0;
}

<div class="card mb-10 mb-xl-12">
    <div class="card-header card-header-stretch">
        <div class="card-title d-flex align-items-center">
            <div class="row">
                <div class="col-md-9">
                    <h3 class="fw-bolder m-0 text-gray-800">
                        <i class="fa-solid fa-building-wheat text-primary fs-2qx"></i>
                        Recibo Ingreso
                    </h3>
                </div>
                <div class="col-md-12">
                    <a class="btn btn-success" asp-action="AdministracionEstadoCuenta"><i class="fas fa-undo-alt"></i><b> Regresar</b></a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body border-top">

        <div class="row p-lg-10">
            <form asp-action="GenerarRecibo" id="FormCrear">
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
                            <div class="row mb-12">
                                <div class="col-xl-2">
                                    <div class="fs-6 fw-bold mt-2 mb-3">
                                        <label for="FechaPago" class="control-label required">
                                            Fecha Pago
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-8 fv-row">
                                    <input type="text" name="FechaPago" id="FechaPago" class="form-control form-control-solid" required="required" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
                            <div class="row mb-12">
                                <div class="col-xl-2">
                                    <div class="fs-6 fw-bold mt-2 mb-3">
                                        <label class="control-label">
                                            Conjunto
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-8 fv-row">
                                    <input type="text" class="form-control form-control-solid" readonly="readonly" value="@objAdeudo.NombreConjunto" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
                            <div class="row mb-12">
                                <div class="col-xl-2">
                                    <div class="fs-6 fw-bold mt-2 mb-3">
                                        <label class="control-label required">
                                            Torre
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-8 fv-row">
                                    <input type="text" class="form-control form-control-solid" value="@objAdeudo.Torre" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
                            <div class="row mb-12">
                                <div class="col-xl-2">
                                    <div class="fs-6 fw-bold mt-2 mb-3">
                                        <label for="Titulo" class="control-label">
                                            Departamento
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-8 fv-row">
                                    <input type="text" class="form-control form-control-solid" readonly="readonly" value="@objAdeudo.Departamento" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
                            <div class="row mb-12">
                                <div class="col-xl-2">
                                    <div class="fs-6 fw-bold mt-2 mb-3">
                                        <label for="Estado" class="control-label required">
                                            Forma pago
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-8 fv-row">
                                    @Html.DropDownList("IdFormapago", ViewData["listaFormasPago"] as SelectList, htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
                            <div class="row mb-12">
                                <div class="col-xl-2">
                                    <div class="fs-6 fw-bold mt-2 mb-3">
                                        <label for="ValorPago" class="control-label required">
                                            Valor Pagar
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-8 fv-row">
                                    <input type="text" name="ValorPago" id="ValorPago" class="form-control form-control-solid" value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
                            <div class="row mb-12">
                                <div class="col-xl-2">
                                    <div class="fs-6 fw-bold mt-2 mb-3">
                                        <label for="Concepto" class="control-label required">
                                            Concepto
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-8 fv-row">
                                    <input name="Concepto" id="Concepto" class="form-control" required="required" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
                            <div class="row mb-12">
                                <div class="col-xl-2">
                                    <div class="fs-6 fw-bold mt-2 mb-3">
                                        <label for="Observacion" class="control-label">
                                            Observacion
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-8 fv-row">
                                    <textarea name="Observacion" id="Observacion" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <hr />

                @foreach(var adeudoTemp in Model)
                {
                    contadorAdeudo++;
                    int contadorTemporal = contadorAdeudo - 1;
                    string nombreCampoIdDeuda = "DetalleComprobantePagos[" + contadorTemporal + "].IdTablaDeuda";
                    string nombreCampoValorPendiente = "DetalleComprobantePagos[" + contadorTemporal + "].ValorPendiente";
                    string nombreFechaDeuda = "DetalleComprobantePagos[" + contadorTemporal + "].FechaDetalleDeuda";

                    string nombreCampoMonto = "montoAdeudo" + contadorAdeudo;
                    string saldoPendiente = "saldoPendienteAdeudo" + contadorAdeudo;
                    string saldoPendienteReal = "saldoPendienteReal" + contadorAdeudo;

                    <input type="hidden" name="@nombreCampoIdDeuda" value="@adeudoTemp.IdAdeudos" />
                    <input type="hidden" name="@nombreCampoValorPendiente" value="@adeudoTemp.MontoAdeudos" />
                    <input type="hidden" name="@nombreFechaDeuda" value="@adeudoTemp.FechaAdeudos.ToString("yyyy-MM-dd")" />
                    <input type="hidden" name="@saldoPendienteReal" id="@saldoPendienteReal" value="@adeudoTemp.SaldoPendiente.ToString("F2")" />

                    <div class="row">
                        <div class="col-md-12 fs-3 mb-3">
                            <center>@adeudoTemp.FechaAdeudos.ToString("dd MMMM yyyy").ToString().ToUpper()</center>
                        </div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-md-4">
                            <div class="col-md-12">
                                <label class="control-label required">
                                    Nombre
                                </label>
                                <input type="text" class="form-control form-control-solid" value="@adeudoTemp.Nombre @adeudoTemp.Apellido" readonly="readonly" />
                            </div>
                            </div>
                        <div class="col-md-2">
                            <label class="control-label required">
                                Valor
                            </label>
                            <input type="text" class="form-control form-control-solid" id="@nombreCampoMonto" value="@adeudoTemp.MontoAdeudos.ToString("F2")" readonly="readonly" />
                        </div>

                        <div class="col-md-2">
                            <label class="control-label required">
                                Saldo Pendiente
                            </label>
                            <input type="text" class="form-control form-control-solid" id="@saldoPendiente" name="@saldoPendiente" value="@adeudoTemp.SaldoPendiente.ToString("F2")" readonly="readonly" />
                        </div>
                    </div>

               }

               <hr />

                @if(contadorAdeudo>1){
                    <div class="row">
                        <div class="col-md-2">
                            <label class="control-label required">
                                Valor Total
                            </label>
                            <input type="text" class="form-control form-control-solid" value="@Model.Sum(x => x.MontoAdeudos).ToString("F2")" readonly="readonly" />
                        </div>
                    </div>
                }
                <input id="contadorAdeudos" type="hidden" value="@contadorAdeudo" />
                

                <div class="row">
                    <div class="col-xl-12 fv-row">
                        <center>
                            <button type="button" onclick="sendFormAjax(this, 'FormCrear', undefined,undefined,'btn_CrearProveedor')" class="btn btn-primary" id="btn_CrearProveedor">
                                <span class="indicator-label">
                                    <i class="fas fa-money-bill-wave"></i>Registrar Pago
                                </span>
                                <span class="indicator-progress">
                                    Por favor espere... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                        </center>
                    </div>
                </div>

            </form>


        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/site.js"></script>
    <script type="text/javascript">


        $(document).ready(function () {

            document.getElementById('ValorPago').addEventListener('input', function () {
                const totalAdeudos = parseInt(document.getElementById('contadorAdeudos').value);
                let valorActual = this.value.replace('.', ',')

                this.value = valorActual

                let ValorPago = parseFloat(this.value.replace(',', '.')) || 0; 
                let saldoPendiente = ValorPago;

                for (let i = 1; i <= totalAdeudos; i++) {
                    let adeudoElement = document.getElementById('montoAdeudo' + i);
                    let valorAdeudoActual = parseFloat(adeudoElement.value.replace(',', '.')); 

                    let saldoPendienteElement = document.getElementById('saldoPendienteAdeudo' + i);
                    let valorSaldoPendiente = parseFloat(saldoPendienteElement.value.replace(',', '.'));

                    let saldoPendienteElementReal = document.getElementById('saldoPendienteReal' + i);
                    let valorSaldoPendienteReal = parseFloat(saldoPendienteElementReal.value.replace(',', '.'));

                    if(valorSaldoPendienteReal !="0,00"){
                        valorAdeudoActual = valorSaldoPendienteReal
                    }

                    if (saldoPendiente >= valorAdeudoActual) {
                        saldoPendiente -= valorAdeudoActual; // Marca como pagado
                        document.getElementById('saldoPendienteAdeudo' + i).value = '0.00';
                    } else {
                        document.getElementById('saldoPendienteAdeudo' + i).value = (valorAdeudoActual - saldoPendiente).toFixed(2);
                        saldoPendiente = 0;
                    }
                }
            });

        })



        $("#FechaPago").flatpickr({
            defaultDate: "today"
        });
    </script>
}