@model DTOs.Comprobantes.ComprobantePagoDTOCompleto
@{
    Layout = "";
}

<style>
     td {
      padding: 10px 0; /* 10px de padding arriba y abajo, 0px a los lados */
    }
</style>

<div id="divReporte" style="margin-left:5%;margin-right:5%;">

    <!--begin::Container Cabecera Rol-->
    <table border="0" width="100%">
        <tr style="border-bottom:solid; border-top:solid;">
            <td width="100%">
                <center>
                    <div style="font-size:20px; font-weight:bold">RECIBO</div><br />

                </center>
            </td>
        </tr>
    </table>

    <table border="0" width="100%" rowspan>
        <tr>
            <td width="20%">
               <b>FECHA:</b>
            </td>
            <td width="30%">
                @Model.FechaPago.ToString("dd-MMMM-yyyy HH:mm").ToUpper()
            </td>
            <td width="20%">
                <b>NOMBRE:</b>
            </td>
            <td width="30%">
                @Model.DetalleComprobantePagos.FirstOrDefault().NombrePersona
            </td>
        </tr>
        <tr>
            <td width="20%">
                <b>CONJUNTO:</b>
            </td>
            <td width="30%">
                 @Model.Conjunto
            </td>
            <td width="20%">
                <b>TORRE:</b>
            </td>
            <td width="30%">
                @Model.Torre
            </td>
        </tr>

        <tr>
            <td width="20%">
                <b>DEPARTAMENTO</b>
            </td>
            <td width="30%">
                @Model.Departamento
            </td>
        </tr>
    

        <tr>
            <td width="20%">
                <b>VALOR PAGO</b>
            </td>
            <td width="30%">
                @Model.ValorPago.ToString("F2")
            </td>
            <td width="20%">
                <b>CONCEPTO</b>
            </td>
            <td width="30%">
                <span>@Model.Concepto</span>
            </td>
        </tr>

        <tr>
            <td width="20%">
                <b>SALDO PENDIENTE</b>
            </td>
            <td width="30%">
                @Model.SaldoPendiente.ToString("F2")
            </td>
            <td width="20%">
                <b>TIPO PAGO</b>
            </td>
            <td width="30%">
                @Model.TipoPago
            </td>
        </tr>

    </table>

    <br/>

    <!--begin::Container Datos Pie de pagina  -->
    <table border="0" width="100%" style="margin-top:10px;">
        <tr>

            <td width="100%">
                <table width="100%">
                    <tr style="border-top:solid;">
                        <td>
                            <center><b>RECIBE CONFORME - FECHA: @DateTime.Now.ToString("dd/M/yyyy HH:mm:ss")</b></center>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="5%"></td>
        </tr>
    </table>
</div>



