@model DTOs.Comprobantes.ComprobantePagoDTOCompleto
@{
    Layout = "";

    decimal sumaPagoAcumulado = 0;
    decimal saldoPendienteAcumulado = 0;
}

<style>
     td {
      padding: 10px 0; /* 10px de padding arriba y abajo, 0px a los lados */
    }
</style>

<div id="divReporte" style="margin-left:5%;margin-right:5%;">

    <!--begin::Container Cabecera Rol-->
    <table border="0" width="100%">
        <tr style="border-bottom:solid; border-top:solid;">
            <td width="100%">
                <center>
                    <div style="font-size:20px; font-weight:bold">RECIBO INGRESO</div><br />

                </center>
            </td>
        </tr>
    </table>

    <table border="0" width="100%" rowspan>
        <tr>
            <td width="20%">
               <b>FECHA:</b>
            </td>
            <td width="30%">
                @Model.FechaPago.ToString("dd-MMMM-yyyy HH:mm").ToUpper()
            </td>
            <td width="20%">
                <b># RECIBO:</b>
            </td>
            <td width="30%">
                @Model.SecuencialComprobantePagos.FirstOrDefault().SecuencialComprobante
            </td>
        </tr>
        <tr>
            <td width="20%">
                <b>NOMBRE:</b>
            </td>
            <td width="30%">
                @Model.DetalleComprobantePagos.FirstOrDefault().NombrePersona
            </td>
            <td width="20%">
                <b>CONJUNTO:</b>
            </td>
            <td width="30%">
                 @Model.Conjunto
            </td>            
        </tr>

        <tr>
            <td width="20%">
                <b>TORRE:</b>
            </td>
            <td width="30%">
                @Model.Torre
            </td>
            <td width="20%">
                <b>DEPARTAMENTO:</b>
            </td>
            <td width="30%">
                @Model.Departamento
            </td>
        </tr>
    
        <tr>
            <td width="20%">
                <b>CONCEPTO:</b>
            </td>
        </tr>
        
        @foreach(var mes in Model.DetalleComprobantePagos){
            sumaPagoAcumulado += mes.ValorPendiente;

            saldoPendienteAcumulado = Model.ValorPago - mes.ValorPendiente;

            <tr>
                <td width="20%">
                    @mes.FechaDetalleDeuda.ToString("MMMM-yyyy").ToUpper()
                </td>
                <td width="30%">
                    <b>VALOR:</b>
                </td>
                <td width="20%">
                    <span>@mes.ValorPendiente.ToString("F2")</span>
                </td>
                
                <td width="30%">
                    <b>SALDO PENDIENTE: </b>
                    @if(saldoPendienteAcumulado>=0){
                        <span>0.00</span>
                    }
                    else{
                        <span>@(saldoPendienteAcumulado * -1).ToString("F2")</span>
                    }
                </td>
            </tr>
        }

        <tr>
            <td width="20%">
                <b>CONCEPTO:</b>
            </td>
            <td width="30%">
                @Model.TipoPago
            </td>

            <td width="20%">
                <b>TIPO PAGO:</b>
            </td>
            <td width="30%">
                @if (!string.IsNullOrEmpty(Model.TipoPago))
                {
                    <span>@Model.TipoPago.ToUpper()</span>
                }
                else
                {
                    <span>-</span>
                }
            </td>
        </tr>

        <tr>
            <td width="20%">
                <b>BANCO:</b>
            </td>
            <td width="30%">
                @Model.NombreBancoComprobante
            </td>            
        </tr>

        <tr>
            <td width="20%">
                <b>OBSERVACIÓN:</b>
            </td>
            <td colspan="2">
                @if (!string.IsNullOrEmpty(Model.Observacion))
                {
                    <span>@Model.Observacion.ToUpper()</span>
                }
                else
                {
                    <span>-</span>
                }
            </td>
        </tr>

    </table>

    <br/>

    <!--begin::Container Datos Pie de pagina  -->
    <table border="0" width="100%" style="margin-top:10px;">
        <tr>
            <td width="50%">
                <table width="100%">
                    <tr style="border-top:solid;">
                        <td>
                            <hr />
                            <center><b>ADMINISTRADOR</b></center>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="50%">
                <table width="100%">
                    <tr style="border-top:solid;">
                        <td>
                            <hr/>
                            <center><b>RECIBE CONFORME</b></center>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>



