@model DTOs.Roles.RolDTOCompleto

@{
    string listaPermisos = "";
    int contador = 0;

    if (ViewData["listaPermisos"]!=null)
        listaPermisos = ViewData["listaPermisos"].ToString();

}

<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">
        <input type="hidden" id="listaPermisos" name="listaPermiso" value="@listaPermisos" />
            @Html.HiddenFor(model => model.IdRol)           
            <div class="card mb-5 mb-xl-10">
                <div class="card-header card-header-stretch">
                    <div class="card-title d-flex align-items-center">
                        <div class="row">
                            <div class="col-md-9">
                                <h3 class="fw-bolder m-0 text-gray-800">
                                    <i class="fas fa-key text-primary fs-2qx"></i>
                                    Detalle Rol
                                </h3>
                            </div>
                            <div class="col-md-12">
                                <a class="btn btn-success" asp-action="AdministracionRol"><i class="fas fa-undo-alt"></i><b>Lista de Roles</b></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body border-top p-9">
                  
                    <div class="row mb-8">
                        <div class="col-xl-2">
                            <div class="fs-6 fw-bold mt-2 mb-3">Nombre</div>
                        </div>

                        <div class="col-xl-9 fv-row">
                            <input asp-for="NombreRol" class="form-control form-control-solid" placeholder="Define el nombre del rol" required="required" maxlength="30" />
                        </div>
                    </div>

                    <div class="row mb-8">
                        <div class="col-xl-2">
                            <div class="fs-6 fw-bold mt-2 mb-3">Páginas Inicio</div>
                        </div>
                        <div class="col-xl-9 fv-row">
                            @Html.DropDownList("IdPaginaInicioRol", ViewData["listaPaginasInicioRol"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @disabled = "disabled" })
                        </div>
                    </div>

                  
                    <div class="row mb-12">
                        <div class="col-xl-4">
                            <div class="fs-6 fw-bold mt-2 mb-3">
                                <label asp-for="AccesoTodos" class="control-label">
                                    Acceso a Todos
                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                </label>
                            </div>
                        </div>
                        <div class="col-xl-8 fv-row">
                            <label>
                                <input type="radio" class="btn-check" name="AccesoTodos" value="true" disabled="disabled" @(Model.AccesoTodos ? "checked= \" checked\"" : "" ) />
                                <span class="btn btn btn-color-muted btn-active-primary fw-bolder px-md-7">Si</span>
                            </label>
                            <label>
                                <input type="radio" class="btn-check" name="AccesoTodos" value="false" disabled="disabled" @(!Model.AccesoTodos ? "checked= \" checked\"" : "" ) />
                                <span class="btn btn btn-color-muted btn-active-primary fw-bolder px-md-7">No</span>
                            </label>
                        </div>
                    </div>

                     <div class="row mb-8">
                        <div class="col-xl-4">
                            <div class="fs-6 fw-bold mt-2 mb-3">
                                <label asp-for="RolRestringido" class="control-label">
                                    Rol Restringido
                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                </label>
                            </div>
                        </div>
                        <div class="col-xl-8 fv-row">
                            <label>
                                <input type="radio" class="btn-check" name="RolRestringido" value="true" disabled="disabled" @(Model.RolRestringido ? "checked= \" checked\"" : "" )>
                                <span class="btn btn btn-color-muted btn-active-primary fw-bolder px-md-7">Si</span>
                            </label>
                            <label>
                                <input type="radio" class="btn-check" name="RolRestringido" value="false" disabled="disabled" @(!Model.RolRestringido ? "checked= \" checked\"" : "" )>
                                <span class="btn btn btn-color-muted  btn-active-primary fw-bolderpx-md-7">No</span>
                            </label>
                        </div>
                    </div>


                    <div class="row mb-8">
                        <div class="col-xl-4">
                            <div class="fs-6 fw-bold mt-2 mb-3">Estado</div>
                        </div>
                        <div class="col-xl-5 fv-row">
                            <div class="form-check form-check-solid form-switch fv-row">
                                <input type="checkbox" class="form-check-input w-45px h-30px" name="Estado" id="Estado" @(Model.Estado ? "checked= \"checked\"" : "")>
                                <label class="form-check-label" for="Activado"></label>
                            </div>
                        </div>
                    </div>
                    @*En esta sección se carga el acordión con los permisos seleccionados*@
                    <div class="row mb-8" id="resumenPermisoRoles">
                        <div class="accordion" id="acordionResumen">
                        @if(Model.listaModulos!=null){
                            foreach (var Modulos in Model.listaModulos)
                            {
                                string nombreDivModulos = "div" + @Modulos.Nombre;
                                <div id="@nombreDivModulos" class="accordion-item">
                                    <h2 class="accordion-header accordion-icon-toggle" id="cabeceraRol_@Modulos.Nombre"><button class="accordion-button fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#cabeceraRol_Cuerpo_@Modulos.Nombre" aria-expanded="true" aria-controls="cabeceraRol+@Modulos.Nombre+_Cuerpo">@Modulos.Nombre</button></h2>
                                    <div class="accordion-collapse collapse show" id="cabeceraRol_Cuerpo_@Modulos.Nombre">
                                        <div class="alert bg-light-primary d-flex flex-column flex-sm-row p-5 mb-10">
                                            @foreach (var menus in Modulos.Menus)
                                            {
                                                string idDatosMenu = Modulos.Nombre + "datosMenu";
                                                <i class="bi bi-check2-square fs-2x"></i>
                                                <div class="d-flex flex-column pe-0 pe-sm-10" id="@idDatosMenu" name="@idDatosMenu">
                                                    <h4 class="fw-bold">@menus.NombreMenu</h4>
                                                    <span>@menus.RutaMenu</span>
                                                    <div class="d-flex flex-wrap">
                                                        @foreach (var permisos in menus.Permisos)
                                                        {
                                                            if (permisos.Concedido)
                                                            {
                                                                if(!string.IsNullOrEmpty(permisos.CssPermiso)){
                                                                    var recuperarCSS = permisos.CssPermiso.Split("-");
                                                                    string spanPermiso = "";
                                                                    try
                                                                    {
                                                                        spanPermiso = "badge badge-" + recuperarCSS[2];
                                                                    }
                                                                    catch (Exception)
                                                                    {
                                                                        spanPermiso = "badge badge-" + recuperarCSS[1];
                                                                    }<span class="@spanPermiso">@permisos.NombrePermiso</span>
                                                                }                                                                
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            }
                                           
                                        </div>
                                    </div>
                                </div>
                            }
                        }                            
                        </div>
                    </div>                  
                </div>
            </div>

        
      
    </div>
</div>

@section scripts{

    <script src="~/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="~/assets/js/custom/documentation/documentation.js"></script>
    <script src="~/assets/js/custom/documentation/search.js"></script>
    <script src="~/assets/js/custom/documentation/forms/select2.js"></script>
    <script type="text/javascript">
        
    </script>
}
