@*@using IEnumerable<DTOs.Comunicado.ComunicadoDTOCompleto>;*@
@{
    ViewData["Title"] = "Home Page";
    int contador = 0;

    List<DTOs.Comunicado.ComunicadoDTOCompleto> listaComunicados = new List<DTOs.Comunicado.ComunicadoDTOCompleto>();

    if(ViewData["listaComunicados"] != null)
    {
        listaComunicados = (List<DTOs.Comunicado.ComunicadoDTOCompleto>)ViewData["listaComunicados"];

    }
    string estilo = "";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    
</div>

<div class="card card-flush">
    <div class="card card-body">
     

        @if (listaComunicados.Count() > 0)
        {
            <table border="1" id="idTablaPersonas" class="table align-middle table-row-dashed fs-6 gy-5">
                <thead>
                    <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                        <th>
                            <span class="badge badge-light text-dark">Conjunto</span>
                        </th>
                        <th>
                            <span class="badge badge-light text-dark">Titulo</span>
                        </th>
                        <th>
                            <span class="badge badge-light text-dark">Descipción</span>
                        </th>
                        
                    </tr>
                </thead>
                <tbody class="fw-bold text-gray-600">
                    @if (listaComunicados != null)
                    {
                        foreach (var item in listaComunicados)
                        {
                            if (item.DiasAntiguedad < 15)
                                estilo = "alert alert-success";
                            else
                                estilo = "";

                    <tr class="@estilo">
                                
                                <td data-title="Conjunto">

                                    <span class="text-muted fw-semibold d-block fs-7">@item.NombreConjunto</span>

                                </td>
                                <td data-title="Titulo">
                                    @item.Titulo
                                </td>
                                <td data-title="Descripcion">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#descripcionComunicado" data-bs-Descripcion="@item.Descripcion" data-bs-Titulo="@item.Titulo">
                                        Ver Información
                                    </button>                                   
                                </td>

                            </tr>


                            contador++;
                        }
                    }
                </tbody>
            </table>
        }
        <div class="modal fade" id="descripcionComunicado" tabindex="-1" aria-labelledby="descripcionComunicadoLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content modal-dialog-scrollable">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="descripcionComunicadoLabel"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Descripción:</label>
                            </div>
                            <div class="mb-3 ">      
                                <textarea class="form-control" id="message-text"></textarea>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const modalDesc = document.getElementById('descripcionComunicado')
    if (modalDesc) {
        modalDesc.addEventListener('show.bs.modal', event => {

            const button = event.relatedTarget
            const recipient = button.getAttribute('data-bs-Descripcion')
            const titulo = button.getAttribute('data-bs-Titulo')

            const modalTitle = modalDesc.querySelector('.modal-title')
            const modalBodyInput = modalDesc.querySelector('.modal-body textarea')
            //let textoa = document.getElementById('aqui')

            modalTitle.textContent = `${titulo}`
            modalBodyInput.value = recipient
            //textoa.innerHTML = recipient
        })
    }
</script>
