@model IEnumerable<DTOs.Parametro.ParametroCompletoDTO>

@{
    Layout = "";
}

<div class="card card-flush">
    <div class="card card-body">
        @await Html.PartialAsync("_MensajesBusqueda", Model.Count())

        @if (Model.Count() > 0)
        {
            <table border="1" id="idTablaMaestro" class="table align-middle table-row-dashed fs-6 gy-5">
                <thead>
                    <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                        <th>
                            <span class="badge badge-light text-dark">Nombre</span>
                        </th>
                        <th>
                            <span class="badge badge-light text-dark">Cuenta 1</span>
                        </th>
                        <th>
                            <span class="badge badge-light text-dark">Cuenta 2</span>
                        </th>
                        <th>
                            <span class="badge badge-light text-dark">Cuenta 3</span>
                        </th>
                        <th>
                            <span class="badge badge-light text-dark">Cuenta 4</span>
                        </th>

                        <th>
                            <span class="badge badge-light text-dark">
                                Acción
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody class="fw-bold text-gray-600">
                    @if (Model != null)
                    {
                        foreach (var dato in Model)
                        {
                            <tr>
                                <td data-title="Nombre">
                                    <span>@dato.NombreParametro</span>
                                </td>
                                <td data-title="cuenta1">
                                    <span>@dato.Cuenta1</span>
                                </td>
                                <td data-title="cuenta2">
                                    <span>@dato.Cuenta2</span>
                                </td>
                                <td data-title="cuenta3">
                                    <span>@dato.Cuenta3</span>
                                </td>
                                <td data-title="cuenta4">
                                    <span>@dato.Cuenta4</span>
                                </td>
                                <td data-title="Acción">
                                    <div>
                                        <a href="~/C_Parametro/EditarParametro?IdParametro=@dato.IdParametro" target="_self" class="badge badge-light-primary">Editar<i class="far fa-edit" style="color: #009ef7"></i></a>
                                    </div>
                                    <div>
                                        <a href="~/C_Parametro/EliminarParametro?IdParametro=@dato.IdParametro" target="_self" class="badge badge-light-danger">Eliminar<i class="fas fa-trash-alt" style="color: #ff0000"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }


                </tbody>
            </table>
        }
    </div>
</div>